@model Trining


    <h1 class="float-right">الدورات التدريبية وورش العمل / اضافة جديد</h1>
    <div class="row" dir="rtl">
        <div class="col-md-8 offset-2 ">
            <p>

            </p>
            <br />
            <br />
            @*<br />
                <br />*@
            <div class="row">
                <div class="col-md-10 offset-2">
                    <form enctype="multipart/form-data" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="PersonalId" class="control-label float-right">الاسم</label>
                            <select asp-for="PersonalId" class="form-control" asp-items="ViewBag.Personals"></select>
                            <span asp-validation-for="PersonalId" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Training_Name" class="control-label float-right">اسم الدورة</label>
                                    <input asp-for="Training_Name" class="form-control" />
                                    <span asp-validation-for="Training_Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Training_Sid" class="control-label float-right">الجهة المنفذة</label>
                                    <input asp-for="Training_Sid" class="form-control" />
                                    <span asp-validation-for="Training_Sid" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Training_Days" class="control-label float-right">عدد ايام الدورة</label>
                                    <input asp-for="Training_Days" class="form-control" />
                                    <span asp-validation-for="Training_Days" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Training_StartDate" class="control-label float-right">تاريخ بدء الدورة</label>
                                    <input asp-for="Training_StartDate" class="form-control" />
                                    <span asp-validation-for="Training_StartDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Training_EndDate" class="control-label float-right">تاريخ انتهاء الدورة</label>
                                    <input asp-for="Training_EndDate" class="form-control" />
                                    <span asp-validation-for="Training_EndDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Training_DirectDate" class="control-label float-right">تاريخ المباشرة بالدورة</label>
                                    <input asp-for="Training_DirectDate" class="form-control" />
                                    <span asp-validation-for="Training_DirectDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TrainingBookNo" class="control-label float-right">رقم الكتاب</label>
                                    <input asp-for="TrainingBookNo" class="form-control" />
                                    <span asp-validation-for="TrainingBookNo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TrainingBookDate" class="control-label float-right">تاريخ الكتاب</label>
                                    <input asp-for="TrainingBookDate" class="form-control" />
                                    <span asp-validation-for="TrainingBookDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Notes" class="control-label float-right">الملاحظات</label>
                            <input asp-for="Notes" class="form-control" />
                            <span asp-validation-for="Notes" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="pdf" class="control-label float-right">ارفاق ملف</label>
                            <div class="custom-file">
                                <input asp-for="pdf" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <span asp-validation-for="pdf" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                            <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>




