@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title text-left ">عرض المعلومات المضافة</h3>
    </div>
    <div class="panel-body">
        <div>
            <table class="table table-bordered table-hover text-left" cellspacing="0" rules="all" border="1" id="ContentPlaceHolder1_GridView1" style="border-collapse:collapse;">
                <tbody>
                    <tr>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">المرحلة الوظيفية</th>
                        <th scope="col">الدرجة الوظيفية</th>
                        <th scope="col">أسم الدائرة</th>
                        <th scope="col">رقم الموظف</th>
                    </tr>
                    <tr>
                        <td>
                            <a id="ContentPlaceHolder1_GridView1_btn_Update_0" class=" btn btn-warning Mybtn" autogeneratecolumns="False" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ContentPlaceHolder1$GridView1$ctl02$btn_Update&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))">استعراض الملف</a>
                        </td>
                        <td>-</td>
                        <td>-</td>
                        <td>مكتب رئيس مجلس الوزراء</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>



    </div>
</div>


