@model Ifad
    <div class="row" dir="rtl">
        <div class="col-md-8 offset-2 ">
            <p>
                <h1 class="float-right">الايفادات / اضافة جديد</h1>
            </p>
            <br />
            <br />
            @*<br />
        <br />*@
           
        <div class="row">
           
            <div class="col-md-10 offset-2">
                <form enctype="multipart/form-data" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="PersonalId" class="control-label float-right">الاسم</label>
                        <select asp-for="PersonalId" class="form-control" asp-items="ViewBag.Personals"></select>
                        <span asp-validation-for="PersonalId" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Ifad_Type" class="control-label float-right">نوع الايفاد</label>
                                <input asp-for="Ifad_Type" class="form-control" />
                                <span asp-validation-for="Ifad_Type" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Ifad_Supject" class="control-label float-right">موضوع الايفاد</label>
                                <input asp-for="Ifad_Supject" class="form-control" />
                                <span asp-validation-for="Ifad_Supject" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Ifad_Title" class="control-label float-right">عنوان الايفاد</label>
                                <input asp-for="Ifad_Title" class="form-control" />
                                <span asp-validation-for="Ifad_Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Ifad_TravelDate" class="control-label float-right">تاريخ السفر</label>
                                <input asp-for="Ifad_TravelDate" class="form-control" />
                                <span asp-validation-for="Ifad_TravelDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Ifad_Days" class="control-label float-right">عدد ايام الايفاد</label>
                                <input asp-for="Ifad_Days" class="form-control" />
                                <span asp-validation-for="Ifad_Days" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IfadActual_Days" class="control-label float-right">تاريخ الايفاد القعلي</label>
                                <input asp-for="IfadActual_Days" class="form-control" />
                                <span asp-validation-for="IfadActual_Days" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IfadBookNo" class="control-label float-right">رقم كتاب الايفاد</label>
                                <input asp-for="IfadBookNo" class="form-control" />
                                <span asp-validation-for="IfadBookNo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IfadBookDate" class="control-label float-right">تاريخ كتاب الايفاد</label>
                                <input asp-for="IfadBookDate" class="form-control" />
                                <span asp-validation-for="IfadBookDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Note" class="control-label float-right">الملاحظات</label>
                        <textarea asp-for="Note" class="form-control"></textarea>
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="pdf" class="control-label float-right">ارفاق ملف</label>
                        <div class="custom-file">
                            <input asp-for="pdf" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <span asp-validation-for="pdf" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>

                </form>
            </div>
        </div>
        </div>
    </div>




