@model Thanks
    <div class="row" dir="rtl">
        <div class="col-md-8 offset-2 ">
            <p>
                <h1 class="float-right">كتب الشكر / اضافة جديد</h1>
            </p>
            <br />
            <br />
            @*<br />
                <br />*@
            <div class="row">
                <div class="col-md-10 offset-2">
                    <form enctype="multipart/form-data" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="PersonalId" class="control-label float-right">المعلومات الوظيفية</label>
                            <select asp-for="PersonalId" class="form-control" asp-items="ViewBag.Personals"></select>
                            <span asp-validation-for="PersonalId" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Thanks_Type" class="control-label float-right">القسم</label>
                                    <input asp-for="Thanks_Type" class="form-control" />
                                    <span asp-validation-for="Thanks_Type" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ThanksBook_No" class="control-label float-right">الراتب</label>
                                    <input asp-for="ThanksBook_No" class="form-control" />
                                    <span asp-validation-for="ThanksBook_No" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ThanksBook_Date" class="control-label float-right">الحالة الوظيفية</label>
                                    <input asp-for="ThanksBook_Date" class="form-control" />
                                    <span asp-validation-for="ThanksBook_Date" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Thanks_Reason" class="control-label float-right">العنوان الوظيفي</label>
                                    <input asp-for="Thanks_Reason" class="form-control" />
                                    <span asp-validation-for="Thanks_Reason" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Thanks_Sid" class="control-label float-right">جهة الشكر</label>
                                    <input asp-for="Thanks_Sid" class="form-control" />
                                    <span asp-validation-for="Thanks_Sid" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Notes" class="control-label float-right">الملاحظات</label>
                                    <textarea asp-for="Notes" class="form-control"></textarea>
                                    <span asp-validation-for="Notes" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="pdf" class="control-label float-right">ارفاق ملف</label>
                            <div class="custom-file">
                                <input asp-for="pdf" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <span asp-validation-for="pdf" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                            <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




