@model Administrative_Orders
<div class="row" dir="rtl">
    <div class="col-md-8 offset-2 ">
        <p>
            <h1 class="float-right">الاوامر الادارية / اضافة جديد</h1>
        </p>
        <br />
        <br />
        @*<br />
            <br />*@
        <div class="row">
            <div class="col-md-10 offset-2">
                <form enctype="multipart/form-data" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="PersonalId" class="control-label float-right">الاسم</label>
                        <select asp-for="PersonalId" class="form-control" asp-items="ViewBag.Personals"></select>
                        <span asp-validation-for="PersonalId" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label asp-for="AdministrativeNo" class="control-label float-right">رقم الكتاب</label>
                                <input asp-for="AdministrativeNo" class="form-control" />
                                <span asp-validation-for="AdministrativeNo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OrderNo" class="control-label float-right">رقم الامر</label>
                                <input asp-for="OrderNo" class="form-control" />
                                <span asp-validation-for="OrderNo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Administrative_Order_Date" class="control-label float-right">تاريخ الكتاب</label>
                                <input asp-for="Administrative_Order_Date" class="form-control" />
                                <span asp-validation-for="Administrative_Order_Date" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Type_Of_Order" class="control-label float-right">نوع الامر</label>
                                <input asp-for="Type_Of_Order" class="form-control" />
                                <span asp-validation-for="Type_Of_Order" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Subject" class="control-label float-right">الموضوع</label>
                                <input asp-for="Subject" class="form-control" />
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Nots" class="control-label float-right">الملاحظات</label>
                                <textarea asp-for="Nots" class="form-control"></textarea>
                                <span asp-validation-for="Nots" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Summary" class="control-label float-right">ملخص</label>
                        <textarea asp-for="Summary" class="form-control"></textarea>
                        <span asp-validation-for="Summary" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="pdf" class="control-label float-right">ارفاق ملف</label>
                        <div class="custom-file">
                            <input asp-for="pdf" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <span asp-validation-for="pdf" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





