@model NewPersonalVM
@using Advisor6.Data
@*@{
   // ViewData["Title"] = "Update personal";
}*@

<div class="row" dir="rtl">
    <div class="col-md-8 offset-2">
        <p>
            <h1 class="float-right">تعديل بيانات مستشار</h1>
        </p>
        <br />
        <br />
        <div class="row">
            <div class="col-md-8 offset-2">
                <form enctype="multipart/form-data" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FullName" class="control-label  float-right">الاسم الكامل</label>
                                <input asp-for="FullName" class="form-control" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Gender" class="control-label float-right">الجنس</label>
                                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MarriedStatus" class="control-label float-right">الحالة الاجتماعية</label>
                                <select asp-for="MarriedStatus" class="form-control"  asp-items="Html.GetEnumSelectList<MarriedStatus>()"></select>
                                <span asp-validation-for="MarriedStatus" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNo" class="control-label float-right">رقم الهاتف</label>
                                <input asp-for="PhoneNo" class="form-control" />
                                <span asp-validation-for="PhoneNo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label float-right">Email</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                             <div class="form-group">
                                <label asp-for="Address" class="control-label float-right">العنوان</label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BirthDate" class="control-label float-right">تاريخ الميلاد</label>
                                <input asp-for="BirthDate" type="date" class="form-control" />
                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                            </div>                       
                            <div class="form-group">
                                <label asp-for="BornPlace" class="control-label float-right">محل الولادة</label>
                                <input asp-for="BornPlace" class="form-control" />
                                <span asp-validation-for="BornPlace" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EntryDate" class="control-label float-right">تاريخ حفظ القيد</label>
                                <input asp-for="EntryDate" type="date" class="form-control" />
                                <span asp-validation-for="EntryDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataEntryName" class="control-label float-right">اسم مدخل البيانات</label>
                                <input asp-for="DataEntryName" class="form-control" />
                                <span asp-validation-for="DataEntryName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                     
                    @*<div class="form-group">
                                <label asp-for="Employment_infoId" class="control-label float-right">المعلومات الوظيفية</label>
                                <select asp-for="Employment_infoId" class="form-control" asp-items="ViewBag.Employment_infos"></select>
                                <span asp-validation-for="Employment_infoId" class="text-danger"></span>
                            </div>*@
                    <div class="form-group">
                                <label asp-for="Photo" class="control-label float-right">ربط الصورة الشخصية</label>
                                <div class="custom-file">
                                    <input asp-for="Photo" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                                <span asp-validation-for="Photo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="pdf" class="control-label float-right">pdf ربط ملف</label>
                                <div class="custom-file">
                                    <input asp-for="pdf" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                                <span asp-validation-for="pdf" class="text-danger"></span>
                            </div>
                    <div class="form-group">
                        <label asp-for="Nots" class="control-label float-right">الملاحظات</label>
                        <textarea asp-for="Nots" class="form-control"></textarea>
                        <span asp-validation-for="Nots" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
