@model Vacations
    <div class="row" dir="rtl">
        <div class="col-md-8 offset-2 ">
            <p>
                <h1 class="float-right">الاجازات / اضافة جديد</h1>
            </p>
            <br />
            <br />
            @*<br />
                <br />*@
            <div class="row">
                <div class="col-md-10 offset-2">
                    <form enctype="multipart/form-data" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Personal" class="control-label float-right">الاسم</label>
                            <input asp-for="Personal" class="form-control" />
                            <span asp-validation-for="Personal" class="text-danger"></span>
                        </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Payment_Type" class="control-label float-right">Payment_Typeلحين تحديث الحقل</label>
                                        <input asp-for="Payment_Type" class="form-control" />
                                        <span asp-validation-for="Payment_Type" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Vacation_Start_Date" class="control-label float-right">تاريخ بدء الاجازة</label>
                                        <input asp-for="Vacation_Start_Date" class="form-control" />
                                        <span asp-validation-for="Vacation_Start_Date" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Vacation_End_Date" class="control-label float-right">تاريخ انتهاء الاجازة</label>
                                        <input asp-for="Vacation_End_Date" class="form-control" />
                                        <span asp-validation-for="Vacation_End_Date" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Vacation_Days" class="control-label float-right">عدد ايام الاجازة</label>
                                        <input asp-for="Vacation_Days" class="form-control" />
                                        <span asp-validation-for="Vacation_Days" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Emp_Vacations_Total" class="control-label float-right">رصيدالاجازات</label>
                                        <input asp-for="Emp_Vacations_Total" class="form-control" />
                                        <span asp-validation-for="Emp_Vacations_Total" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Vacation_Book_No" class="control-label float-right">رقم الكتاب</label>
                                        <input asp-for="Vacation_Book_No" class="form-control" />
                                        <span asp-validation-for="Vacation_Book_No" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Vacation_Book_Date" class="control-label float-right">تاريخ الكتاب</label>
                                        <input asp-for="Vacation_Book_Date" class="form-control" />
                                        <span asp-validation-for="Vacation_Book_Date" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Notes" class="control-label float-right">الملاحظات</label>
                                <textarea asp-for="Notes" class="form-control"></textarea>
                                <span asp-validation-for="Notes" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="pdf" class="control-label float-right">ارفاق ملف</label>
                                <div class="custom-file">
                                    <input asp-for="pdf" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                                <span asp-validation-for="pdf" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                                <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                            </div>

                    </form>
                </div>
            </div>
        </div>
    </div>




